<a href="https://colab.research.google.com/github/niakurniawati00/GitLearning/blob/main/Exploring_Dataframe_Homework4_Nia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel('/content/Homework-DataFrame-Dataset.xlsx', engine='openpyxl')

In [ ]:
df1 = pd.read_excel('/content/Homework-DataFrame-Dataset.xlsx', engine='openpyxl', sheet_name='Paid-Transaction')
df2 = pd.read_excel('/content/Homework-DataFrame-Dataset.xlsx', engine='openpyxl', sheet_name='Seller')

In [ ]:
df1.head(2)

,Paid Date,Order Number,First Name,Last Name,Meta Category,Product Name,Transaction Amount,Seller Discount,Sales Discount,Delivery Fee,Other Discount
0,20170724,201707240088517,elvride,aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,10200.0,9000,0.0
1,20170701,201707018889790,BASIR,Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,0.0,0,0.0

In [ ]:
print(df1['Paid Date'].dtype)  # Seharusnya 'datetime64[ns]'

int64

In [ ]:
df1['Paid Date'] = df1['Paid Date'].astype(str)

In [ ]:
df1.head(2)

,Paid Date,Order Number,First Name,Last Name,Meta Category,Product Name,Transaction Amount,Seller Discount,Sales Discount,Delivery Fee,Other Discount
0,20170724,201707240088517,elvride,aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,10200.0,9000,0.0
1,20170701,201707018889790,BASIR,Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,0.0,0,0.0

In [ ]:
df1['Paid Date'] = df1['Paid Date'].str.replace(r'(\d{4})(\d{2})(\d{2})', r'\1-\2-\3', regex=True)

In [ ]:
df1.head(2)

,Paid Date,Order Number,First Name,Last Name,Meta Category,Product Name,Transaction Amount,Seller Discount,Sales Discount,Delivery Fee,Other Discount
0,2017-07-24,201707240088517,elvride,aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,10200.0,9000,0.0
1,2017-07-01,201707018889790,BASIR,Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,0.0,0,0.0

In [ ]:
print(df1['Paid Date'].dtype)  # Seharusnya 'datetime64[ns]'

object

In [ ]:
df1['Paid Date'] = pd.to_datetime(df1['Paid Date'], errors='coerce')

In [ ]:
df1.head(2)

,Paid Date,Order Number,First Name,Last Name,Meta Category,Product Name,Transaction Amount,Seller Discount,Sales Discount,Delivery Fee,Other Discount
0,2017-07-24,201707240088517,elvride,aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,10200.0,9000,0.0
1,2017-07-01,201707018889790,BASIR,Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,0.0,0,0.0

In [ ]:
print(df1['Paid Date'].dtype)  # Seharusnya 'datetime64[ns]'

datetime64[ns]

#Menghilangkan Missing Values Data

In [ ]:
df1['First Name'] = df1['First Name'].fillna(value='-')
df1['Last Name'] = df1['Last Name'].fillna(value='-')

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Paid Date           12000 non-null  datetime64[ns]
 1   Order Number        12000 non-null  int64
 2   First Name          12000 non-null  object
 3   Last Name           12000 non-null  object
 4   Meta Category       12000 non-null  object
 5   Product Name        12000 non-null  object
 6   Transaction Amount  12000 non-null  int64
 7   Seller Discount     12000 non-null  int64
 8   Sales Discount      12000 non-null  float64
 9   Delivery Fee        12000 non-null  int64
 10  Other Discount      12000 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(4)
memory usage: 1.0+ MB

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Number  12000 non-null  int64
 1   Seller        12000 non-null  object
dtypes: int64(1), object(1)
memory usage: 187.6+ KB

#Tugas No 1

##1.1 Menambhan Nama Kolom "Full Name"

In [ ]:
# Menggabungkan 'First Name' dan 'Last Name' menjadi 'Full Name' dengan format title case
df1['Full Name'] = (df1['First Name'] + ' ' + df1['Last Name']).str.title()

##1.2 Memindahan Posisi Kolom

In [ ]:
cols = list(df1.columns)
last_name_index = cols.index('Last Name')
cols.insert(last_name_index + 1, cols.pop(cols.index('Full Name')))
df1 = df1[cols]

##Hasil

In [ ]:
df1.head(2)

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Product Name,Transaction Amount,Seller Discount,Sales Discount,Delivery Fee,Other Discount
0,2017-07-24,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,10200.0,9000,0.0
1,2017-07-01,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,0.0,0,0.0

#Tugas No.2

##2.1 Kolom GMV

In [ ]:

df1.loc[:, 'GMV'] = df1['Transaction Amount'] - df1['Seller Discount'] + df1['Delivery Fee']

<ipython-input-93-7bb8fe4c1e53>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.loc[:, 'GMV'] = df1['Transaction Amount'] - df1['Seller Discount'] + df1['Delivery Fee']

##2.2 Memindahkan posisi kolom

In [ ]:
cols = list(df1.columns)
eller_discount_index = cols.index('Seller Discount')
cols.insert(eller_discount_index + 1, cols.pop(cols.index('GMV')))
df1 = df1[cols]

In [ ]:
df1.head(2)

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Product Name,Transaction Amount,Seller Discount,GMV,Sales Discount,Delivery Fee,Other Discount
0,2017-07-24,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,156000,10200.0,9000,0.0
1,2017-07-01,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,219800,0.0,0,0.0

#Tugas 3

#3.1 Membuat group

In [ ]:
df1['Meta Category'].unique()

array(['Babies/ Kids', 'Service/ Mokado', 'Fashion', 'Gadget/ Komputer',
       'Beauty/ Health', 'Home/ Food', 'Sports/ Hobi/ Otomotif',
       'Elektronik'], dtype=object)

In [ ]:
def group_meta_category(category):
    # Menentukan grup berdasarkan kategori
    if category in ['Home/Food', 'Sports/Hobi/Otomotif', 'Fashion', 'Beauty/Health']:
        return 'Group 1'
    else:
        return 'Group 2'

In [ ]:
df1.loc[:, 'Group'] = df1['Meta Category'].apply(group_meta_category)

In [ ]:
df1.head(6)

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Product Name,Transaction Amount,Seller Discount,GMV,Sales Discount,Delivery Fee,Other Discount,Group
0,2017-07-24,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,156000,10200.0,9000,0.0,Group 2
1,2017-07-01,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,219800,0.0,0,0.0,Group 2
2,2017-07-07,201707079264675,Citra,Ardi,Citra Ardi,Service/ Mokado,"XTRA Combo 12X 6GB, 12bln",35000,0,35000,700.0,0,0.0,Group 2
3,2017-07-20,201707209945714,Dian,Renaldi,Dian Renaldi,Fashion,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,85000,5900.0,0,0.0,Group 1
4,2017-07-22,201707220002354,rizal,Tamba,Rizal Tamba,Gadget/ Komputer,Samsung Galaxy Note 5 Gold,81000,0,81000,5600.0,0,0.0,Group 2
5,2017-07-14,201707149671962,fauzannor,andri,Fauzannor Andri,Service/ Mokado,Pulsa Indosat REG 50.000,149000,0,158000,10400.0,9000,0.0,Group 2

In [ ]:
df1['Group'].value_counts()

Group
Group 2    10049
Group 1     1951
Name: count, dtype: int64

##3.2 Pivot

In [ ]:
df1.loc[:, "Month"] = df1["Paid Date"].dt.to_period('M')

In [ ]:
pivot_df1 = df1.pivot_table(
    index='Month',       # Mengelompokkan berdasarkan bulan
    columns='Group',     # Mengelompokkan berdasarkan Group
    values='GMV',        # Mengambil nilai GMV
    aggfunc='sum',       # Menjumlahkan nilai GMV
    fill_value=0         # Mengisi nilai yang kosong dengan 0
)

# Menampilkan Pivot Table
print(pivot_df1)

Group      Group 1    Group 2
Month
2017-07   31308700  346829700
2017-08   15787000  427602800
2017-09  129389200  325879900
2017-10   50245600  214901200
2017-11  144480300  445381100
2017-12   50632900  532155200

#Tugas 4

In [ ]:
df_merged = pd.merge(df1, df2, on = 'Order Number')

In [ ]:
df_merged.head(2)

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Product Name,Transaction Amount,Seller Discount,GMV,Sales Discount,Delivery Fee,Other Discount,Group,Month,Seller
0,2017-07-24,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,156000,10200.0,9000,0.0,Group 2,2017-07,Babymaniashop
1,2017-07-01,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,219800,0.0,0,0.0,Group 2,2017-07,E-Bold

In [ ]:
##Bulan agustus
df_august = df1[(df1['Paid Date'].dt.year == 2017) & (df1['Paid Date'].dt.month == 8)]

In [ ]:
df_august.sort_values(by = 'GMV' , ascending = False)

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Product Name,Transaction Amount,Seller Discount,GMV,Sales Discount,Delivery Fee,Other Discount,Group,Month
3206,2017-08-28,201708281180810,PETRUS,sinda,Petrus Sinda,Service/ Mokado,Indosat REG 25000,19990000,1500000,18500000,1451400.0,10000,0.0,Group 2,2017-08
1496,2017-08-16,201708160904632,liany,Ratih,Liany Ratih,Service/ Mokado,Pulsa Telkomsel REG 10.000,13997000,0,14006000,965700.0,9000,0.0,Group 2,2017-08
1497,2017-08-12,201708120787476,Nita,Musriyatul,Nita Musriyatul,Service/ Mokado,Pulsa Telkomsel REG 10.000,13997000,0,14006000,965700.0,9000,0.0,Group 2,2017-08
1492,2017-08-30,201708301229877,Leony,WIWIT,Leony Wiwit,Service/ Mokado,PLN 20.000,13696000,0,13705000,945000.0,9000,0.0,Group 2,2017-08
2374,2017-08-24,201708241093694,wahyu,Falentina,Wahyu Falentina,Beauty/ Health,[Laneige] Water Sleeping Mask Sample 15ml,12999000,570000,12429000,248500.0,0,0.0,Group 2,2017-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1477,2017-08-10,201708100735501,Wenni,sulastika,Wenni Sulastika,Service/ Mokado,Mobile Voucher Rp. 50.000 / Indomaret,70000,67200,2800,0.0,0,0.0,Group 2,2017-08
1479,2017-08-15,201708150873055,ali,rini,Ali Rini,Service/ Mokado,Pulsa Smartfren 50.000,70000,67200,2800,0.0,0,0.0,Group 2,2017-08
1817,2017-08-07,201708070632816,Rudy,there,Rudy There,Service/ Mokado,Pulsa Smartfren 100.000,5000,2300,2700,0.0,0,0.0,Group 2,2017-08
4178,2017-08-07,201708070619239,Hari,sigit,Hari Sigit,Service/ Mokado,Indosat REG 25000,200,0,200,0.0,0,0.0,Group 2,2017-08
2928,2017-08-14,201708110765560,Marwa,platform,Marwa Platform,Home/ Food,Radysa ★ Rak Jilbab Jumbo 9 Tingkat (HJO) Meny...,100,0,100,0.0,0,0.0,Group 2,2017-08

In [ ]:
# Untuk mengetahui Seller dengan total GMV paling tinggi di bulan Agustus 2017

top_seller = df_august.loc[df_august["GMV"].idxmax()]
top_seller

Paid Date             2017-08-28 00:00:00
Order Number              201708281180810
First Name                         PETRUS
Last Name                           sinda
Full Name                    Petrus Sinda
Meta Category             Service/ Mokado
Product Name            Indosat REG 25000
Transaction Amount               19990000
Seller Discount                   1500000
GMV                              18500000
Sales Discount                  1451400.0
Delivery Fee                        10000
Other Discount                        0.0
Group                             Group 2
Month                             2017-08
Name: 3206, dtype: object

In [ ]:
# Untuk mengetahui Seller dengan total GMV paling rendah di bulan Agustus 2017
low_seller = df_august.loc[df_august["GMV"].idxmin()]
low_seller

Paid Date                                           2017-08-14 00:00:00
Order Number                                            201708110765560
First Name                                                        Marwa
Last Name                                                      platform
Full Name                                                Marwa Platform
Meta Category                                                Home/ Food
Product Name          Radysa ★ Rak Jilbab Jumbo 9 Tingkat (HJO) Meny...
Transaction Amount                                                  100
Seller Discount                                                       0
GMV                                                                 100
Sales Discount                                                      0.0
Delivery Fee                                                          0
Other Discount                                                      0.0
Group                                                           Group 2
Month                                                           2017-08
Name: 2928, dtype: object

#Tugas 5

In [ ]:
df_Fashion2 = df_merged[(df_merged['Meta Category'] == 'Fashion') & (df_merged['Month'] == '2017-09')]

In [ ]:
df_Fashion2.groupby(by = 'Seller').size().sort_values(ascending = False)

In [ ]:
df_merged2 = pd.merge(df1, df2, on = 'Order Number')

In [ ]:
seller_counts = df_merged2[df_merged2['Paid Date'].dt.month == 9].groupby(by = 'Seller').size().sort_values(ascending = False) # Use df_merged2 instead of df_Fashion and filter for september data
seller_counts

Seller
E-Bold                       198
MOBILEPULSA APP               92
Plaza Cell                    62
GudangUnik                    47
Lindy's Shop                  46
                            ...
Kebun Kita                     1
Kay Collection                 1
Karedoku                       1
Kappa, Everlast, Popochos      1
yessishop                      1
Length: 583, dtype: int64